
@{
    ViewData["Title"] = "Overwatch";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model IudexBoost.Models.Classes.Game

<div class="content-section">
<div class="content-section-title" style="font-size:30px;" id="gamename">@Model.Title</div>

    <div class="apps-card" style="align-items:start; height:200px;">
        <div class="app-card" style="width:70%;">
            <div class="configuratorbigger">
                <p></p>
                <p></p>
                <h3>
                    <span style="font-size: 14px;">
                        <span style="font-size: 18px;">
                            <font color="#6ba54a">START TIME</font>:
                        </span>
                        Up to 15 minutes
                    </span>
                </h3>
                <p></p>
                <h3>
                    <span style="font-size: 14px;">
                        <span style="font-size: 14px;">
                            <span style="font-size: 18px;">
                                <font color="#6ba54a">COMPLETION TIME</font>
                                :
                            </span>
                            Depends on current and desired rating
                        </span>
                    </span>
                </h3>
                <p>
                    <span style="font-size: 14px;">
                        <span style="font-size: 14px;">
                            Get to 
                            <b>any desired Skill Tier</b> 
                            and 
                            <b>Division</b>
                            in Overwatch 2 without a stress with our
                            <b>Overwatch 2 Rank Boost</b>
                            !
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 14px;">
                        <span style="font-size: 14px;">
                            Competitive or rank matches are always a tough challenge, even in Overwatch 2. It’s completely understandable why many players struggle with climbing to higher ranks, there are a lot of things to go wrong: bad teammates, strong enemies, sometimes you’re just getting outperformed. It happened to all of us. But with our service you won’t have to worry about anything, 
                            <b>just make an order</b>
                            and we’ll get you to any rank you’ll want!
                        </span>
                    </span>
                </p>
                <h3>
                    <span style="font-size: 14px;">
                        <span style="font-size: 18px;">
                            <font color="#6ba54a">YOU WILL GET</font>
                        </span>
                    </span>
                </h3>
                <div>
                    <ul>
                        <li>
                            <span style="font-size: 14px;">
                                <span style="font-size: 14px;">
                                    <b>Desired Skill Tier and Division</b> reached;
                                </span>
                            </span>
                        </li>
                        <li><span style="font-size: 14px;"><span style="font-size: 14px;">Lots of <b>Competitive Points</b>;</span></span></li>
                        <li>
                            <span style="font-size: 14px;"><span style="font-size: 14px;"><b>High winrate and overall stats</b> during the boost.</span></span>
                        </li>
                    </ul>

                </div>
                <p></p>
                <h3>
                    <span style="font-size: 14px;">
                        <span style="font-size: 18px;">
                            <font color="#6ba54a">REQUIREMENTS</font>
                        </span>
                    </span>
                </h3>
                <p>
                    <span style="font-size: 14px;">
                        <span style="font-size: 14px;">
                             All characters unlocked in Overwatch 2 and placement matches completed.
                        </span>
                    </span>
                 </p>
                <p></p><h3><span style="font-size: 14px;"><span style="font-size: 18px;"><font color="#6ba54a">WHY KINGBOOST?</font></span></span></h3><p><span style="font-size: 14px;"><span style="font-size: 14px;"><span style="font-size: 14px;">The simple answer is because <b>we’re good at what we’re doing</b>. You can make sure of that by looking at the reviews from our customers on Trustpilot. And in addition to that, we are ready to match the price if you’ll somehow find the exact same offer with lower price. Just make an order and see for yourself!</span></span></span></p><p><span style="font-size: 14px;"><span style="font-size: 14px;"><b>If you still have any questions</b> regarding boosts, please text us in the LiveChat.</span></span></p><p></p><p></p><h3><span style="font-size: 14px;"><span style="font-size: 18px;"><font color="#6ba54a">DETAILED OVERWATCH 2 RANK BOOST SERVICE DESCRIPTION</font></span></span></h3><p><span style="font-size: 14px;"><span style="font-size: 14px;">In Overwatch 2, just like in the original game, climbing higher in ranks requires a combination of skill, teamwork, and strategic thinking. While the specifics of the ranking system in Overwatch 2 may change from its predecessor, here are some general tips that can help you improve your chances of climbing higher:</span></span></p><p><span style="font-size: 14px;"><span style="font-size: 14px;">Master Multiple Heroes: Being proficient with multiple heroes gives you more flexibility during matches. It allows you to adapt to different team compositions and situations effectively. Focus on mastering heroes from different roles (tank, damage, support) to contribute to your team's success in various ways.</span></span></p><p><span style="font-size: 14px;"><span style="font-size: 14px;">Communication and Teamwork: Overwatch is a team-based game, and effective communication and teamwork are crucial for success. Use voice chat or the in-game communication wheel to coordinate strategies, call out enemy positions, and notify your team about ultimate abilities. Be a positive and cooperative teammate, as it helps foster a better environment for teamwork.</span></span></p><p><span style="font-size: 14px;"><span style="font-size: 14px;">Understand Team Composition: A well-balanced team composition is vital in Overwatch. Learn about the synergies between different heroes and their roles within the team. Aim for a combination of tanks, supports, and damage heroes that complement each other and cover each other's weaknesses. Flexibility in hero selection based on the team's needs will greatly benefit your chances of winning.</span></span></p><p><span style="font-size: 14px;"><span style="font-size: 14px;">Map Awareness and Positioning: Familiarize yourself with the maps in Overwatch 2 and understand the optimal positioning for your chosen hero. Good positioning allows you to maximize your effectiveness while minimizing risks. Stay aware of your surroundings, keep track of health pack locations, and use natural cover to avoid unnecessary deaths.</span></span></p><p><span style="font-size: 14px;"><span style="font-size: 14px;">Develop Game Sense: Game sense refers to understanding the flow of the game, predicting enemy movements, and making informed decisions. It comes with experience and knowledge of hero abilities, ultimate timings, and map dynamics. Analyze your own gameplay, watch professional players or high-level streamers to learn new strategies, and try to anticipate your opponents' actions.</span></span></p><p><span style="font-size: 14px;"><span style="font-size: 14px;">Practice, Review, and Adapt: Improving in Overwatch requires practice and dedication. Regularly play the game, review your gameplay footage or replays to identify areas of improvement, and adapt your strategies accordingly. Recognize your strengths and weaknesses and focus on refining your skills to fill any gaps.</span></span></p><p><span style="font-size: 14px;"><span style="font-size: 14px;">Stay Positive and Manage Tilt: Overwatch can be a challenging and sometimes frustrating game, especially when faced with losses or difficult teammates. However, maintaining a positive mindset and managing tilt is crucial for success. Avoid blaming others, stay focused on your own performance, and take breaks if needed to prevent burnout.</span></span></p><p><span style="font-size: 14px;">Remember, climbing ranks in Overwatch 2 takes time and effort. Focus on continuous self-improvement, embrace teamwork, and enjoy the journey of becoming a better player. Good luck!</span></p><p></p><p></p><p></p>
            </div>
        </div>
        <form style="height:150px;">
            <div class="configurator" style="max-width: 600px; margin-left:20px;margin-bottom:1600px;">
                <input type="hidden" id="gameId" value="@Model.GameId" />
                <div class="productPrice" style="width:380px;height:100%;align-items:start;">
                    <div class="product-display" style="width:100%; padding-top:50px;">
                        <img id="productImage" src="@Model.ImageUrl2" alt="Product" style="border-radius:5px;">
                    </div>

                    <br />
                    <div class="app-card__subtext" stydle="margin-left:50px;width:200px;">
                        <p id="productPrice" style="padding-left:25px; font-size:20px;">$0.00</p>
                    </div>
                    <br />
                    <!--
                    <div class="app-card__subtext" style="margin-left:20px;">
                        <h3>Choose Your Platform</h3>
                        <br />
                        <div class="checkbox-wrapper-57" style="display:flex; align-items: center; margin-right:100px;">
                            <label class="container" style="width:20px;">
                                <input type="checkbox" id="option1">
                                <div class="checkmark"></div>
                            </label>
                            <label for="option1" style="width:200px;margin-left:25px;">PC (Free)</label>
                        </div>
                        <br />
                        <div class="checkbox-wrapper-57" style="display:flex; align-items: center; margin-right:100px;">
                            <label class="container" style="width:20px;">
                                <input type="checkbox" id="option1">
                                <div class="checkmark"></div>
                            </label>
                            <label for="option2" style="width:200px;margin-left:25px;">PlayStation (Free)</label>
                        </div>
                        <br />
                        <div class="checkbox-wrapper-57" style="display:flex; align-items: center; margin-right:100px;">
                            <label class="container" style="width:20px;">
                                <input type="checkbox" id="option1">
                                <div class="checkmark"></div>
                            </label>
                            <label for="option3" style="width:200px;margin-left:25px;">XBOX (Free)</label>
                        </div>
                    </div>

                    -->
                    <div class="app-card__subtext" style="margin-left:20px;">
                        <h3>Skill Rating</h3>
                        <br />
                        <label>From</label>
                        <select id="select1" class="select-box">
                            <!-- Initial option, which will be updated dynamically -->
                            <option value="1" data-price="0">Bronze 5</option>
                            <option value="2" data-price="1">Bronze 4</option>
                            <option value="3" data-price="4">Bronze 3</option>
                            <option value="4" data-price="6">Bronze 2</option>
                            <option value="5" data-price="8">Bronze 1</option>
                            <option value="6" data-price="10">Silver 5</option>
                            <option value="7" data-price="13">Silver 4</option>
                            <option value="8" data-price="16">Silver 3</option>
                            <option value="9" data-price="19">Silver 2</option>
                            <option value="10" data-price="21">Silver 1</option>
                            <option value="11" data-price="24">Gold 5</option>
                            <option value="12" data-price="27">Gold 4</option>
                            <option value="13" data-price="30">Gold 3</option>
                            <option value="14" data-price="33">Gold 2</option>
                            <option value="15" data-price="36">Gold 1</option>
                            <option value="16" data-price="39">Platinum 5</option>
                            <option value="17" data-price="43">Platinum 4</option>
                            <option value="18" data-price="47">Platinum 3</option>
                            <option value="19" data-price="51">Platinum 2</option>
                            <option value="20" data-price="55">Platinum 1</option>
                            <option value="21" data-price="59">Diamond 5</option>
                            <option value="22" data-price="64">Diamond 4</option>
                            <option value="23" data-price="69">Diamond 3</option>
                            <option value="24" data-price="74">Diamond 2</option>
                            <option value="25" data-price="79">Diamond 1</option>
                            <option value="26" data-price="88">Master 5</option>
                            <option value="27" data-price="94">Master 4</option>
                            <option value="28" data-price="100">Master 3</option>
                            <option value="29" data-price="106">Master 2</option>
                            <option value="30" data-price="112">Master 1</option>
                            <option value="31" data-price="118">Grandmaster 5</option>
                            <option value="32" data-price="128">Grandmaster 4</option>
                            <option value="33" data-price="138">Grandmaster 3</option>
                            <option value="34" data-price="148">Grandmaster 2</option>
                            <option value="35" data-price="158">Grandmaster 1</option>
                        </select>

                        <label>To</label>
                        <select id="select2" class="select-box">
                            <!-- Initial option, which will be updated dynamically -->
                            <option value="1" data-price="0">Bronze 5</option>
                            <option value="2" data-price="1">Bronze 4</option>
                            <option value="3" data-price="4">Bronze 3</option>
                            <option value="4" data-price="6">Bronze 2</option>
                            <option value="5" data-price="8">Bronze 1</option>
                            <option value="6" data-price="10">Silver 5</option>
                            <option value="7" data-price="13">Silver 4</option>
                            <option value="8" data-price="16">Silver 3</option>
                            <option value="9" data-price="19">Silver 2</option>
                            <option value="10" data-price="21">Silver 1</option>
                            <option value="11" data-price="24">Gold 5</option>
                            <option value="12" data-price="27">Gold 4</option>
                            <option value="13" data-price="30">Gold 3</option>
                            <option value="14" data-price="33">Gold 2</option>
                            <option value="15" data-price="36">Gold 1</option>
                            <option value="16" data-price="39">Platinum 5</option>
                            <option value="17" data-price="43">Platinum 4</option>
                            <option value="18" data-price="47">Platinum 3</option>
                            <option value="19" data-price="51">Platinum 2</option>
                            <option value="20" data-price="55">Platinum 1</option>
                            <option value="21" data-price="59">Diamond 5</option>
                            <option value="22" data-price="64">Diamond 4</option>
                            <option value="23" data-price="69">Diamond 3</option>
                            <option value="24" data-price="74">Diamond 2</option>
                            <option value="25" data-price="79">Diamond 1</option>
                            <option value="26" data-price="88">Master 5</option>
                            <option value="27" data-price="94">Master 4</option>
                            <option value="28" data-price="100">Master 3</option>
                            <option value="29" data-price="106">Master 2</option>
                            <option value="30" data-price="112">Master 1</option>
                            <option value="31" data-price="118">Grandmaster 5</option>
                            <option value="32" data-price="128">Grandmaster 4</option>
                            <option value="33" data-price="138">Grandmaster 3</option>
                            <option value="34" data-price="148">Grandmaster 2</option>
                            <option value="35" data-price="158">Grandmaster 1</option>
                        </select>
                    </div>
                    <br />
                    <div class="container" style="margin-top:300px;margin-left:200px;">
                        <div class="btn" style="top:25px;" id="buyNowButton"><a href="#">Buy Now</a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/js/site.js"></script>





