
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-section">

    <div class="content-section-title">
        <h1>About us – IudexBoost.net</h1>
    </div>
    <div class="content-section">
        <div class="apps-card" style="align-items:start;">
            <div class="app-card" style="width:70%;">
                <p>
                    <h2>WHO ARE WE AND HOW DID WE START BOOSTING?</h2>
                        First of all, thanks for your interest in our company! Let’s get on with it.
                    Some when in the past, long before the release of the World of Warcraft Legion expansion, we were just a team of experienced WoW players. And at some point, we realized that we’d done everything we wanted in the current patch and decided to start helping our friends and their friends to get to the top-tier content of World of Warcraft. At that time, we didn’t know that we were already boosting, but we never asked for anything in return for our service.

                    We liked the idea that we were the reason why some people were able to reach the content they’d never seen before. You know, it’s kind of sad when you’re paying for the whole game on a regular basis, but a huge part of it remains out of reach for some lame reasons. And if it weren’t for us, some players would’ve never ever even tried the Heroic difficulty of the raids. But as time went by, the number of people asking for help became overwhelming. They even started to offer various rewards so we’d help them out with whatever they needed. That’s when we thought that this may become a real thing, a business.

                    Unfortunately, we were not the ones to invent boosting, it started long before we came to it. In fact, we just didn’t know that what we were doing all this time was called this way. Kingboost company started in 2016 when the Legion expansion of World of Warcraft was already live. And yes, we’ve started with WoW services since we knew everything about it already.

                        <h2>SO WHAT DO WE DO?</h2>
                    Even now, many years later, we still like the idea we had before - we are the ones who help regular players to enjoy all of the content included in the game they play and even pay for, in the case of WoW. With this thought in our minds, we continue our work and this is also why we’re good at what we’re doing. We love this job of ours.

                    That’s why we are determined to keep our prices as low as possible and ready to match them if you’ll find the exact same service cheaper and will link it to our live chat. That’s why our refund policy is simple and transparent. That’s why our services are of a high quality. And that’s why we went from World of Warcraft to other games - Destiny 2, Apex Legends, Lost Ark, Tarkov and many others.
                </p>
            </div>
            <div class="app-card" style="width:20%;">
                <div class="configurator">
                        <div class="app-card__subtext" style="display:flex;">
                            
                            <img src="~/img/discord.svg" style="width:50px;heigh:50px;"/>
                            <p id="productPrice" style="margin-right:320px;font-size:20px;padding-left:15px;">Discord</p>
                        </div>
                        <br />
                        <div class="app-card__subtext">
                            <h3>Choose Your Platform</h3>
                            <br />
                        </div>
                        <br />
                        <div class="app-card__subtext">
                            <h3>Skill Rating</h3>
                        </div>
                        <br />
                        <div class="container">
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>


